@each $space, $size in $spaces {
  //Margin
  .m-#{$size} {
    margin: $size!important;
  }

   .mt-#{$size} {
    margin-top: $size!important;
  }

  .mb-#{$size} {
    margin-bottom: $size!important;
  }

   .mx-#{$size} {
    margin-left: $size!important;
    margin-right: $size!important;
  }

  .my-#{$size} {
    margin-top: $size!important;
    margin-bottom: $size!important;
  }

   //Padding
  .p-#{$size} {
    padding: $size!important;
  }

   .pt-#{$size} {
    padding-top: $size!important;
  }

  .pb-#{$size} {
    padding-bottom: $size!important;
  }

   .px-#{$size} {
    padding-left: $size!important;
    padding-right: $size!important;
  }

  .py-#{$size} {
    padding-top: $size!important;
    padding-bottom: $size!important;
  }




}
