<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <a href="http://github.com/sarahkvburnett/elevenpacked">
            Elevenpacked
        </a>
    </div>
</footer>