html {
  font-size: $base-font-size;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: $font-family;
  font-size: $body-font-size;
  &.menu-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

main {
  flex: 1;
}

body, header, main, footer, section {
  width: 100vw;
}

section.padding {
  padding-top: $section-padding-y;
  padding-bottom: $section-padding-y;
}

section.accent {
  background: $accent;
  color: $white;
}